<div class="row">
  <div class="col-md-2"></div>
  <div class="col-sm-12 col-md-8">
    <h2>Fact or myth?</h2>
    <p>There are some common myths held by parents and teenagers about alcohol.</p>
    <div class="myth">
      <div class="title-div">
        <h2>Myth one:</h2>
      </div>
      <h3>INTRODUCING MY TEENAGER TO ALCOHOL AND LETTING THEM DRINK AT HOME WILL TEACH THEM HOW TO DRINK RESPONSIBLY, LIKE THEY
        DO IN SOME EUROPEAN COUNTRIES.</h3>
      <p>
        There is no evidence that introducing alcohol to teenagers is helpful in building responsible drinking behaviours. In fact,
        the data suggests that the earlier a child is introduced to alcohol, the more likely they are to develop problems
        with alcohol later in life. Some European countries have much higher rates of alcohol-related harm than in the UK.
        For example, the rate of alcohol-related road traffic accidents and liver cirrhosis are higher in France than in
        the UK.
      </p>
    </div>
    <div class="myth">
      <div class="title-div">
        <h2>Myth two:</h2>
      </div>
      <h3>MOST PARENTS GIVE THEIR CHILDREN ALCOHOL.</h3>
      <p>
        Although some parents feel under pressure to give their teenagers alcohol, if you decide to delay your teenager’s alcohol
        use, you will not be alone. Many parents choose not to give their teenagers alcohol.
      </p>
    </div>
    <div class="myth">
      <div class="title-div">
        <h2>Myth three:</h2>
      </div>
      <h3>TEENAGERS ARE ALWAYS GOING TO DRINK, NO MATTER WHAT WE DO.</h3>
      <p>
        Although it might feel as if your teenager’s friends have more influence on them than you do, you still have an important
        role in reducing your child’s use of alcohol. Then evidence tells us that what parents do, how they communicate their
        expectations to their children, and whether they supply alcohol does influence their children’s choices.
      </p>
    </div>
    <div class="myth">
      <div class="title-div">
        <h2>Myth four:</h2>
      </div>
      <h3>IT’S BETTER IF I SUPPLY MY CHILD WITH ALCOHOL RATHER THAN THEM GETTING IT FROM SOMEONE ELSE.</h3>
      <p>
        Although it might feel as if your teenager’s friends have more influence on them than you do, you still have an important
        role in reducing their child’s use of alcohol. Then evidence tells us that what parents do, how they communicate
        their expectations to their children, and whether they supply alcohol does influence their children’s choices.
      </p>
    </div>
    <div class="myth">
      <div class="title-div">
        <h2>Remember:</h2>
      </div>
      <p>
        It is illegal for an adult to buy or attempt to buy alcohol on behalf of someone under 18. Retailers can reserve the right
        to refuse the sale of alcohol to an adult if they’re accompanied by a child and think the alcohol is being bought
        for the child.
      </p>
      <p>The UK chief medical officers recommend that an alcohol-free childhood is the healthiest and best option. So help your
        child make the right choices.</p>
    </div>
    <div class="row">
      <div class="statement-div col-md-12">
        <h4>Your child and alcohol. Think again now.</h4>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
