@tan-red: #ed1c24;
.title-div {
  border-bottom-color:#fff;
  border-bottom-style: solid;
  border-bottom-width: medium;
  h2 {
    color:@tan-red;
  }

}

.myths h3 {
  color:#fff;
}

.myths h2{
  color:@tan-red;
}
