/* You can add global styles to this file, and also import other style files */
@tan-red: #ed1c24;
h2, p {
  color:#fff;
}

.statement-div h4 {
  color: @tan-red;
}

.c3-chart-bars {
  fill: @tan-red;
  fill-opacity:0.5;
  stroke: @tan-red;
}

path.domain, line.c3-ygrid, .tick line {
  stroke: @tan-red;
}

text {
  fill: #fff;
  font-family: "Metropolis","Avenir Next","Helvetica Neue",Arial,sans-serif;
}
