/* You can add global styles to this file, and also import other style files */
html, body, .app-container{
  margin:0;
  width:100%;
  height: 100%;
  background-color:#f7f8f8;
  font-family:'Open Sans',serif;
  -webkit-font-smoothing: antialiased;
}

.content-container {
  padding:8px;
}
