<div class="row">
  <div class="col-sm-12 col-md-5">
    <img src="../../assets/brain.png"/>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="title-div">
        <h2>What parents need to know</h2>
    </div>
    <p>
      Your child’s brain continues to develop until their early 20s – which means it’s a precious thing to protect. Some parents
      give their kids alcohol with the best intentions, thinking it will control the amount they commune. But the evidence
      shows that if alcohol is easy to get, people drink more. When parents provide alcohol to their children they make it
      very easy for young people to access it.
    </p>
    <div class="row">
      <div class="statement-div col-md-12">
        <h4>Your child and alcohol. Think again now.</h4>
      </div>
    </div>
  </div>
</div>


