<div class="row">
  <div class="col-md-2"></div>
  <div class="col-sm-12 col-md-8">
    <p><b>Although it might feel as if your teenager’s friends have more influence on them than you do,</b>
     as a parent you are one of the biggest influences on your child’s decision to try alcohol.
     The evidence shows that setting clear rules reduces young people’s alcohol consumption,
     although some parents fear it will have the opposite affect and if they say no, their child will rebel and drink more.</p>
  <p>But this is not the case</p>
<tan-drinking-chart></tan-drinking-chart>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="statement-div col-sm-12 col-md-8">
    <h4>Your child and alcohol. Think again now.</h4>
  </div>
  <div class="col-md-2"></div>
</div>


