<div class="row">
  <div class="col-md-2"></div>
  <div class="col-sm-12 col-md-8">
    <p><b>Although it might feel as if your teenager’s friends have more influence on them than you do,</b> as a parent you
      are one of the biggest influences on your child’s decision to try alcohol. The evidence shows that setting clear rules
      reduces young people’s alcohol consumption, although some parents fear it will have the opposite affect and if they
      say no, their child will rebel and drink more.</p>
    <p>But this is not the case</p>
    <p>In a recent study conducted in Hastings with 132 young people aged between 13 to 16 years found that:</p>
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <p>When asked what their parents thought of them drinking, most said they ‘don’t mind as
        long as I don’t drink too much’ (67%). Only 18% said they ‘do not like me drinking alcohol at all’.</p>
      </div>
      <div class="col-sm-12 col-md-8">
        <tan-feeling-chart></tan-feeling-chart>
      </div>
    </div>
    <div class="row"><div class="col-xs-12"></div></div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <p>79% of the respondents who stated that their parents/guardian ‘don’t mind them drinking alcohol as long as I don’t drink too much’
        drank alcohol usually every two weeks. Of the respondents who said that their parents ‘did not like them drinking alcohol at all’
        only 5% of the respondents drank this regularly. </p>
      </div>
      <div class="col-sm-12 col-md-8">
        <tan-drinking-chart></tan-drinking-chart>
      </div>
    </div>
    <p>Talking about alcohol with your child can be difficult.
      But if you set clear rules and have meaningful conversations with them,
      this helps them to develop a healthier approach to alcohol.</p>
    <p>Drink Aware offer some great ways to answer those tough questions</p>
    <div class="row">
      <div class="col-md-12" style="margin-top: 24px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wBQYfq4Sbtc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <p>To find out more, go to:
      <a href="https://www.drinkaware.co.uk/advice/underage-drinking/how-to-talk-about-alcohol/">
        https://www.drinkaware.co.uk/advice/underage-drinking/how-to-talk-about-alcohol/
      </a>
    </p>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="statement-div col-sm-12 col-md-8">
    <h4>Your child and alcohol. Think again now.</h4>
  </div>
  <div class="col-md-2"></div>
</div>
