<div class="row">
  <div class="col-md-2"></div>
  <div class="col-sm-12 col-md-8">
    <p><b>Although it might feel as if your teenager’s friends have more influence on them than you do,</b> as a parent you
      are one of the biggest influences on your child’s decision to try alcohol. The evidence shows that setting clear rules
      reduces young people’s alcohol consumption, although some parents fear it will have the opposite affect and if they
      say no, their child will rebel and drink more.</p>
    <p>But this is not the case</p>
    <p>In a recent study conducted in Hastings with 132 young people aged between 13 to 16 years found that:</p>
    <div class="row">
      <div class="col-sm-12 col-md-4">
      <p>79% of the respondents who stated that their parents/guardian ‘don’t mind them drinking alcohol as long as I don’t drink too much’
        drank alcohol usually every two weeks. Of the respondents who said that their parents ‘did not like them drinking alcohol at all’
        only 5% of the respondents drank this regularly. </p>
      </div>
      <div class="col-sm-12 col-md-8">
        <tan-drinking-chart></tan-drinking-chart>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="statement-div col-sm-12 col-md-8">
    <h4>Your child and alcohol. Think again now.</h4>
  </div>
  <div class="col-md-2"></div>
</div>
